footer.footer
    .container
        .row
            .col-24.col-md-20.offset-md-2
                .row
                    .col-24.col-md-12
                        .footer__container.footer__container--left
                            a.footer__logo(href="/")
                                img(src="/images/logo.png")
                            p.footer__text Smart creativity for effective digital thinking.
                    .col-24.col-md-12
                        .footer__container.footer__container--right
                            ul.footer__list
                                li
                                    a(href="/") Home
                                li
                                    a(href="/") About
                                li
                                    a(href="/") Work
                                li
                                    a(href="/") blog
                                li
                                    a(href="/") Contact
                            p.footer__copyright &copy; 2019 !PAF Collective



