footer.footer
    .container
        .row
            .col-24.col-md-20.offset-md-2
                .row
                    .col-24.col-md-12
                        .footer__container.footer__container--left
                            a.footer__logo(href="/")
                                img(src="/images/footer-logo.png")
                            p.footer__text Smart creativity for effective digital thinking.
                    .col-24.col-md-12
                        .footer__container.footer__container--right
                            ul.footer__list
                                li
                                    a(href="/") Home
                                li
                                    a(href="/about") About
                                li
                                    a(href="/work") Work
                                li
                                    a(href="https://medium.com/pafcollective", target="_blank") Blog
                                li
                                    a(href="/contact") Contact
                            p.footer__copyright &copy; 2019 !PAF Collective



