extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.contact
        section.contact__hero
            .container
                .row
                    .col-24
                        h2.contact__hero__title Hello.

        section.contact__info
            .container
                .row
                    .col-24.col-md-20.offset-md-2
                        .row
                            .col-24.col-md-8
                                h3.contact__info__title Hola.
                            .col-24.col-md-16
                                .contact__info__container
                                    h2.contact__info__main-title Acá estamos para vos. Hablemos.
                                    .contact__info__wrapper
                                        h3.contact__info__wrapper-title Se nuestro cliente.
                                        a.contact__info__text(href="") +5491155054320
                                        a.contact__info__text(href="mmailto:hola@pafcollective.com.ar" target="_blank") hola@pafcollective.com.ar
                                    .contact__info__wrapper
                                        h3.contact__info__wrapper-title Trabajá con nosotros.
                                        a.contact__info__text(href="") +5491154954319
                                        a.contact__info__text(href="mailto:work@pafcollective.com.ar" target="_blank") work@pafcollective.com.ar
                                    .contact__info__wrapper
                                        h3.contact__info__wrapper-title Administración.
                                        a.contact__info__text(href="mailto:administracion@pafcollective.com.ar" target="_blank") administracion@pafcollective.com.ar
                                    .contact__info__wrapper
                                        h3.contact__info__wrapper-title Cualquier otra cosa.
                                        a.contact__info__text(href="mailto:info@pafcollective.com.ar" target="_blank") info@pafcollective.com.ar
        section.contact__location
            .container
                .row
                    .col-24.col-md-20.offset-md-2
                        .row
                            .col-24.col-md-8
                                h3.contact__location__title Nuestras oficinas.
                            .col-24.col-md-8
                                h2.contact__location__main-title Argentina.
                                p.contact__location__text Martinez, Buenos Aires
                                a.contact__location__mail(href="mailto:hola@pafcollective.com.ar" target="_blank") hola@pafcollective.com.ar
                            .col-24.col-md-8
                                h2.contact__location__main-title Perú.
                                p.contact__location__text Miraflores, Lima
                                a.contact__location__mail(href="mailto:pe@pafcollective.com.ar" target="_blank") pe@pafcollective.com.ar
                            .col-24.col-md-8.offset-md-8
                                h2.contact__location__main-title Chile.
                                p.contact__location__text Las Condes, Santiago
                                a.contact__location__mail(href="mailto:chi@pafcollective.com.ar" target="_blank") chi@pafcollective.com.ar
                            .col-24.col-md-8
                                h2.contact__location__main-title España.
                                p.contact__location__text Distrito del Ensanche, Barcelona
                                a.contact__location__mail(href="mailto:es@pafcollective.com.ar" target="_blank") es@pafcollective.com.ar
        form.contact__form#contact(action="/enviar.php" method="post" enctype="multipart/form-data")
            .container
                .row
                    .col-24.col-md-20.offset-md-2
                        .row
                            .col-24.col-md-8
                                h3.contact__form__title !P4NP. Contactanos.
                            .col-24.col-md-16
                                    h2.contact__form__main-title En !PAF una de las maneras en que vivimos nuestra misión de crear marcas y hacer crecer negocios, es mediante nuestra iniciativa para organizaciones sin fines de lucro: !PAF For Non Profit.
                                    p.contact__form__text A través de nuestra iniciativa !PAF FOR NON PROFIT (!P4NP) 2 veces al año (si podemos más, mejor!) donamos horas de consultoría y ejecución para desarrollar marcas y eventos sociales en el medio digital. Queremos trabajar junto a ONGs inspiradoras que acompañen comunidades donde ofrecemos servicios para que puedan lograr mucho más impacto.
                            .col-24.col-md-16.offset-md-8.js-message.js-hidden
                                h2 Mensaje enviado correctamente.
                            .col-24.col-md-8.offset-md-8.js-fields                                
                                input.contact__form__input(placeholder="Nombre y Apellido" type="text" required name="nombre")
                                input.contact__form__input(placeholder="Teléfono" type="text" name="telefono")
                                input.contact__form__input(placeholder="Email" required type="email" name="email")
                                input.contact__form__input(placeholder="Web" type="text" name="web")
                                input.contact__form__input(placeholder="ONG" type="text" name="ong")
                                
                            .col-24.col-md-8.js-fields
                                textarea.contact__form__input.contact__form__input--textarea(placeholder="Mensaje" name="consulta" required)
                            .col-24.col-md-8.offset-md-8.js-fields
                                button.contact__form__button(type="submit") Enviar




