extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.contact
        section.contact__hero
            .container
                .row
                    .col-24
                        h2.contact__hero__title Hello.

        section.contact__info
            .container
                .row
                    .col-24.col-md-20.offset-md-2
                        .row
                            .col-24.col-md-8
                                h3.contact__info__title Hola.
                            .col-24.col-md-16
                                .contact__info__container
                                    h2.contact__info__main-title
                                        |Acá estamos para vos.
                                        br
                                        |Hablemos.
                                    .contact__info__wrapper
                                        h3.contact__info__wrapper-title Se nuestro cliente.
                                        p.contact__info__text
                                            |+5491155054320
                                            br
                                            |hola@pafcollective.com.ar
                                    .contact__info__wrapper
                                        h3.contact__info__wrapper-title Trabajá con nosotros.
                                        p.contact__info__text
                                            |+5491154954319
                                            br
                                            |work@pafcollective.com.ar
                                    .contact__info__wrapper
                                        h3.contact__info__wrapper-title Administración.
                                        p.contact__info__text administracion@pafcollective.com.ar
                                    .contact__info__wrapper
                                        h3.contact__info__wrapper-title Cualquier otra cosa.
                                        p.contact__info__text info@pafcollective.com.ar

        section.contact__nonprofit
            .container
                .row
                    .col-24.col-md-20.offset-md-2
                        .row
                            .col-24.col-md-8
                                h3.contact__nonprofit__title Non profit.
                            .col-24.col-md-16
                                    h2.contact__nonprofit__main-title En !PAF una de las maneras en que vivimos nuestra misión de crear marcas, transformar negocios y mover a la sociedad, es mediante nuestra iniciativa para organizaciones sin finas de lucro.
                                    p.contact__nonprofit__text A través de nuestra iniciativa !PAF FOR NON PROFIT (!P4NP), demostramos nuestro compromiso de trabajar junto a ONGs a que nuestras comunidades globales y locales prosperen. podemos lograr mucho más impacto al apoyar a las ONGs inspiradoras que ya están aportando su granito de arena para un mindo para mejor. 2 veces al año (si podemos más, mejor!) donamos horas de consultoría y ejecución para desarrollar marcas y eventos sociales.

        section.contact__form
            form.container
                .row
                    .col-24.col-md-20.offset-md-2
                        .row
                            .col-24.col-md-8
                                h3.contact__form__title !P4NP. Contactanos.
                            .col-24.col-md-8
                                input.contact__form__input(placeholder="Nombre")
                                input.contact__form__input(placeholder="Teléfono")
                                input.contact__form__input(placeholder="Email")
                                input.contact__form__input(placeholder="Web")
                                input.contact__form__input(placeholder="ONG")
                            .col-24.col-md-8
                                textarea.contact__form__input.contact__form__input--textarea(placeholder="Mensaje")
                            .col-24.col-md-8.offset-md-8
                                button.contact__form__button Enviar




