extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
  main.carrers
    section.carrers__hero
      .container
        .row
          .col-24
            .carrers__hero__container
              h2.carrers__hero__title Carrers.
    section.carrers__interstitial
      .container
        .row
          .col-24.col-md-8
            h3.carrers__interstitial__uppertitle Por qué !PAF?
          .col-24.col-md-16
            h3.carrers__interstitial__title ¿Cómo sería el mundo si las agencias priorizan las necesidades de los usuarios, entendiéndolos y aceptando trabajar en conjunto con partners especializados?
            p.carrers__interstitial__text En <strong>!PAF</strong> queremos responder esa pregunta. Luego de una secuencia de experiencias y lecciones que nos obligaron a adaptar nuestro pensamiento, dinámicas e ideas al mundo digital y globalizado de hoy, buscamos construir relaciones duraderas con suestros clientes. Es por eso que esperamos que nuestros colaboradores sean parte de nuestro core.<br><br>Buscamos personas que sean únicas, con diversos antecedentes y que creen que la tecnología debe usarse para ofrecer mejores servicios y experiencias con las marcas.<br><br>Si qirés tener la libertad de hacer cosas importantes (y otras no tanto), trabajando con un equipo que te respeta, que valora el emprendedurismo y adopta el cmambio constante... Sos bienvenido/a!

    section.carrers__countries
      .container
        .row
          .col-24.col-md-8
            h3.carrers__countries__uppertitle Busquedas activas
          .col-24.col-md-16
            .row
              .col-24
                .carrers__countries__group
                  h3.carrers__countries__group-title Argentina.
                  ul.carrers__countries__carrers-list
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Consltoría estratégica
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Consltoría estratégica
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Campañas creativas digitales
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Campañas creativas digitales
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Media planning

              .col-24
                .carrers__countries__group
                  h3.carrers__countries__group-title Chile.
                  ul.carrers__countries__carrers-list
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Consltoría estratégica
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Consltoría estratégica
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Campañas creativas digitales
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Campañas creativas digitales
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Media planning

              .col-24
                .carrers__countries__group
                  h3.carrers__countries__group-title Perú.
                  ul.carrers__countries__carrers-list
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Consltoría estratégica
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Consltoría estratégica
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Campañas creativas digitales
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Campañas creativas digitales
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Media planning

              .col-24
                .carrers__countries__group
                  h3.carrers__countries__group-title España.
                  ul.carrers__countries__carrers-list
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Consltoría estratégica
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Consltoría estratégica
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Campañas creativas digitales
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Campañas creativas digitales
                    li.carrers__countries__carrers-item
                      a(href="/carrer-detail") Media planning

