.home {
    background: #212121;
    color: $white;
    $h: &;

    &__hero {
        background: url('/images/home/hero.jpg') no-repeat center center / cover;
        position: relative;
        height: 80vh;
        padding-top: 14vh;
        z-index: 4000;
        display: flex;
        align-items: center;

        @include mq(md) {
            height: 100vh;
        }

        &__col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: calc(80vh - 14vh);

            @include mq(md) {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: calc(100vh - 9.6vw);
            }
        }

        &__logo {
            
            @include mq(md) {
                width: 40%;
            }

            img {
                height: auto;
                width: 50%;

                @include mq(md) {
                    width: 100%;
                    height: auto;
                }
            }
        }

        &__wrapper {
            display: flex;
            align-items: center;
        }

        &__slogan {
            text-transform: uppercase;
            color: $white;
            margin-right: 10px;
            padding-right: 10px;
            border-right: 1px solid $white;


            span {
                display: block;

                &.small {
                    font-size: 14px;

                    @include mq(md) {
                        font-size: 21px;
                    }
                }

                &.medium {
                    font-size: 16px;

                    @include mq(md) {
                        font-size: 25px;
                    }
                }
                
                &.big {
                    font-size: 26px;

                    @include mq(md) {
                        font-size: 40px;
                    }
                }
            }
        }

        &__text {
            color: $white;
            font-size: 14px;

            @include mq(md) {
                font-size: 24px;
            }

            span {
                font-weight: 900;
            }
        }
    }


    // &__about {
    //     padding: 50px 0;

    //     @include mq(md) {
    //         padding: 100px 0;
    //     }

    //     &__title {
    //         font-size: 50px;
    //         font-weight: 900;
    //         color: $corpBlack;
    //         margin: 0;
    //         margin-bottom: 20px;
    //         padding-bottom: 20px;
    //         border-bottom: 2px solid $midGray;
    //         display: inline-block;
    //         padding-right: 40px;
    //     }

    //     &__text {
    //         margin: 0;
    //         margin-bottom: 40px;

    //         @include mq(md) {
    //             margin-bottom: 0;    
    //         }
    //     }

    //     &__main-title {
    //         margin: 0;
    //         margin-bottom: 40px;
    //         font-size: 40px;

    //         @include mq(md) {
    //             font-size: 60px;
             
    //         }
    //     }

    //     &__main-text {
    //         margin: 0;
    //         font-size: 20px;
            
    //         @include mq(md) {
    //             font-size: 24px;
             
    //         }
    //     }
    // }

    &__work {
        background: $black;
        padding: 50px 0;

        @include mq(md) {
            padding: 100px 0;
        }

        &__group {
            display: flex;
            align-items: flex-end;
            margin-bottom: 40px;
        }
        
        &__title {
            font-weight: 900;
            color: $white;
            margin: 0;
            margin-bottom: 40px;
            font-size: 30px;
            
            @include mq(md) {
                font-size: 50px;
            }

            span {
                font-weight: 100;
                font-size: 16px;

                @include mq(md) {
                    font-size: 20px;
                }
            }
        }        

        // &__text {
        //     margin: 0;
        //     color: $midGray;
        // }

        &__container {
            width: 100%;
            height: 0;
            padding-bottom: 80%;
            overflow: hidden;
            position: relative;
            margin-bottom: 30px;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                width: 100%;
                height: auto;
                min-height: 100%;
            }

            &--big {
                padding-bottom: 80%;

                @include mq(md) {
                    padding-bottom: calc(40% - 15px);
                }

                img {
                    height: 100%;
                    width: auto;

                    @include mq(md) {
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }

        &__wrapper {
            position: absolute;
            top: 40px;
            left: 40px;
        }

        &__wrapper-title {
            color: $white;
            margin: 0;
            margin-bottom: 20px;
            font-size: 40px;
        }

        &__wrapper-text  {
            color: $white;
            margin: 0;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }

    &__blog {
        background: $lightGray;
        padding: 50px 0;

        @include mq(md) {
            padding: 100px 0;
        }
        
        &__title {
            font-weight: 900;
            margin: 0;
            margin-bottom: 40px;
            font-size: 30px;
            
            @include mq(md) {
                font-size: 50px;
            }

            span {
                font-weight: 100;
                font-size: 16px;
                                
                @include mq(md) {
                    font-size: 20px;
                }
            }
        }        

        // &__text {
        //     margin: 0;
        //     margin-bottom: 40px;
        //     color: $midGray;
        // }

        &__container {
            width: 100%;
            overflow: hidden;
            
            @include mq(md) {
                height: 30vw;
            }

            &--image-right {
                margin-bottom: 40px;
                display: flex;
                flex-direction: column;

                @include mq(md) {
                    flex-direction: row;
                    margin-bottom: 0;
                }

                #{$h}__blog__content {
                    order: 2;

                    @include mq(md) {
                        width: 40%;
                        order: 1;
                    }
                }
                
                #{$h}__blog__image {
                    height: 30vh;
                    width: 100%;
                    order: 1;

                    @include mq(md) {
                        order: 2;
                        width: 60%;
                        height: 100%;
                    }
                }

                #{$h}__blog__content-subtitle {
                    margin-bottom: 20px;
                }

                #{$h}__blog__content-text {
                    span {
                        display: block;
                    }
                }
            }

            &--image-up {
                #{$h}__blog__content {
                    width: 100%;
                    
                    @include mq(md) {
                        height: 50%;
                    }
                }

                #{$h}__blog__image {
                    height: 30vh;

                    @include mq(md) {
                        width: 100%;
                        height: 50%;
                    }
                }

                #{$h}__blog__content-subtitle {
                    margin-bottom: 10px;
                }
            }
        }

        &__content {
            padding: 40px;
            background: $white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__image {
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                height: auto;
                width: 100%;

                @include mq(md){
                    height: 110%;
                    width: auto;
                }
            }
        }

        &__content-subtitle {
            color: $red;
            text-transform: uppercase;
            font-size: 14px;
            margin: 0;
        }

        &__content-title {
            margin: 0;
            font-size: 24px;
            margin-bottom: 20px;

            @include mq(md) {
                margin-bottom: 0;
            }
        }

        &__content-text {
            margin: 0;
            font-size: 14px;
            color: $black;

            span {
                font-weight: 700;
            }
        }
    }
}
