extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
  main.carrer-detail
    section.carrer-detail__hero
      .container
        .row
          .col-24
            .carrer-detail__hero__container
              h3.carrer-detail__hero__uppertitle Argentina
              h2.carrer-detail__hero__title Senior data<br>scientist
    section.carrer-detail__apply
      .container
        .row
          .col-24.col-md-8
            h3.carrer-detail__apply__uppertitle Sumate al equipo
          .col-24.col-md-12
            .row
              .col-24
                p.carrer-detail__apply__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                p.carrer-detail__apply__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
                h3.carrer-detail__apply__subtitle Lorem ipsum dolor sit amet
                ul.carrer-detail__apply__list
                  li.carrer-detail__apply__item Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  li.carrer-detail__apply__item Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  li.carrer-detail__apply__item Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  li.carrer-detail__apply__item Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  li.carrer-detail__apply__item Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  li.carrer-detail__apply__item Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              .col-24
                h3.carrer-detail__apply__form-title Aplicar a este trabajo.
                form.carrer-detail__apply__form
                  .carrer-detail__apply__form-group
                    input.carrer-detail__apply__input(placeholder="Nombre y Apellido *")
                  .carrer-detail__apply__form-group
                    input.carrer-detail__apply__input(placeholder="Teléfono *")
                  .carrer-detail__apply__form-group
                    input.carrer-detail__apply__input(placeholder="Email *")
                  .carrer-detail__apply__form-group
                      input.carrer-detail__apply__input(placeholder="Web / Linkedin o Behance *")
                  .carrer-detail__apply__form-group
                    label.carrer-detail__apply__label
                      input.carrer-detail__apply__input.carrer-detail__apply__input--file(type="file" value="Adjunto")
                      p Adjunto
                  .carrer-detail__apply__form-group
                    button.carrer-detail__apply__button(type="submit") Enviar

                


