extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
  main.projects.projects--bravecto
    section.projects--bravecto__hero
      a.projects__hero__back-button(href="/work") Volver
      a.projects--bravecto__hero__scroll(href="#propuesta")
        p.projects--bravecto__hero__scroll-text Descubrilo
      .projects--bravecto__hero__image
        img(src="/images/projects/bravecto/perrito.png")
      .container
        .row
          .col-12
            p.projects--bravecto__hero__text FAIRFAX / alfaparf Seguros
          .col-12
            .projects--bravecto__hero__logo
              img(src="/images/projects/bravecto/logo.png")
          //- .col-24.col-md-6
          //-   .projects--bravecto__hero__container
          //-     p.projects--bravecto__hero__subtitle MSD Animal Health.
          .col-24
            .projects--bravecto__hero__container
              h3.projects--bravecto__hero__title.projects--bravecto__hero__title--left ¡Perrea
              h3.projects--bravecto__hero__title.projects--bravecto__hero__title--right Boby!
              p.projects--bravecto__hero__container-text Nuestro mejor amigo<br>sin pulgas ni garrapatas.
    
    section.projects--bravecto__propuesta#propuesta
      img(src="/images/projects/bravecto/seccion.jpg")
      .container
        .row
          //- .col-24.col-md-6
          //-   p.projects--bravecto__propuesta__subtitle Zoom in
          .col-24.col-md-10
            h3.projects--bravecto__propuesta__title Una propuesta de marca totalmente diferente a lo que se venía viendo.
            p.projects--bravecto__propuesta__text El mercado necesita innovar, mostrar algo nuevo, distinto, revolucionario. El enfoque y storytelling digital es nuestro principal diferencial.
          //- .col-24.col-md-8
          //-   .projects--bravecto__propuesta__image
          //-     img(src="/images/projects/bravecto/iphone.png")
    section.projects.projects--bravecto__objetivos
      .container
        .row
          .col-24.col-md-12
            .projects.projects--bravecto__objetivos__container.projects__objetivos__container--top
              h3.projects.projects--bravecto__objetivos__title Objetivo Principal
              p.projects.projects--bravecto__objetivos__text Creación de marca con un mensaje extraordinario basado en los principales beneficios de este producto innovador y eficiente. Reduzca la brecha entre veterinario-laboratorio y veterinario-consumidor, a través de la educación y la información integral de salud.
        .row
          .col-24.col-md-12
            .projects.projects--bravecto__objetivos__container.projects__objetivos__container--bottom
              h3.projects.projects--bravecto__objetivos__title Full Service Agency
              p.projects.projects--bravecto__objetivos__text Con una estrategia inicial centrada completamente en lo digital, buscamos construir la marca desde un aspecto omnicanal, establecemos junto con el cliente el ecosistema digital y el papel de cada canal para llegar al veterinario y al consumidor en sus diferentes puntos de contacto con creatividad efectiva para cada objetivo

          .col-24.col-md-4
            .projects.projects--bravecto__objetivos__container.projects__objetivos__container--bottom
              h3.projects.projects--bravecto__objetivos__title Colaboradores
              ul.projects.projects--bravecto__objetivos__list
                li.projects.projects--bravecto__objetivos__item !PAF
                li.projects.projects--bravecto__objetivos__item Frubis
                li.projects.projects--bravecto__objetivos__item Nice Watch
                li.projects.projects--bravecto__objetivos__item Ratio Fx

          .col-24.col-md-4
            .projects.projects--bravecto__objetivos__container.projects__objetivos__container--bottom
              h3.projects.projects--bravecto__objetivos__title Entregables
              ul.projects.projects--bravecto__objetivos__list
                li.projects.projects--bravecto__objetivos__item Consultoria digital
                li.projects.projects--bravecto__objetivos__item Estrategia & Planificación
                li.projects.projects--bravecto__objetivos__item Concepto creativo
                li.projects.projects--bravecto__objetivos__item Branding
                li.projects.projects--bravecto__objetivos__item Contenido
                li.projects.projects--bravecto__objetivos__item Desarrollo UI/UX

          .col-24.col-md-4
            .projects.projects--bravecto__objetivos__container.projects__objetivos__container--bottom
              h3.projects.projects--bravecto__objetivos__title Ejecución
              ul.projects.projects--bravecto__objetivos__list
                li.projects.projects--bravecto__objetivos__item Social Media
                li.projects.projects--bravecto__objetivos__item Paid Media Content
                li.projects.projects--bravecto__objetivos__item Website & Web App

                li.projects.projects--bravecto__objetivos__item Landing Pages
                li.projects.projects--bravecto__objetivos__item Mailing
                li.projects.projects--bravecto__objetivos__item Off-Line
                li.projects.projects--bravecto__objetivos__item TVC

    section.projects--bravecto__storytelling
      .projects--bravecto__storytelling__container
        .projects--bravecto__storytelling__col
        .projects--bravecto__storytelling__col
          a.projects--bravecto__storytelling__subcol(href="https://youtu.be/sNdclO4eIvc" target="_blank")
            img(src="/images/projects/bravecto/video1.jpg")
          a.projects--bravecto__storytelling__subcol(href="https://www.youtube.com/embed/IgKbx1SMEwE")
            img(src="/images/projects/bravecto/video2.jpg")
      .container
        .row
          .col-24.col-md-12
            .projects--bravecto__storytelling__content
              //- h3.projects--bravecto__storytelling__subtitle Content creation
              h2.projects--bravecto__storytelling__title Pensamos un storytelling digital, utilizando formatos y mensajes según el segmento de usuarios.
              p.projects--bravecto__storytelling__text Divertido y movido, en 3D acompañado las tendencias animadas. Técnico y profesional, en 2D y con contenido especifico.

    section.projects--bravecto__video
      .projects--bravecto__video__container
        iframe(src="https://www.youtube.com/embed/IgKbx1SMEwE")

    section.projects--bravecto__experiencia
      .container
        .row
          .col-24.col-md-12
            .projects--bravecto__experiencia__content
              //- h3.projects--bravecto__experiencia__subtitle Content creation
              h2.projects--bravecto__experiencia__title Proponiendo una experiencia digital integral y convirtiendo leads.
              p.projects--bravecto__experiencia__text We gather our team to create a great digital product that is both engaging to the audience and attractive to possible brands interested in it.
          .col-24.col-md-12
            .projects--bravecto__experiencia__image
              img(src="/images/projects/bravecto/digital.png")

    section.projects--bravecto__medio-digital
      //- .projects--bravecto__medio-digital__container
      //-   .projects--bravecto__medio-digital__col
      //-   .projects--bravecto__medio-digital__col
      //-     iframe(src="https://www.youtube.com/embed/IgKbx1SMEwE")
      .projects--bravecto__medio-digital__image
        img(src="/images/projects/bravecto/prefooter.jpg")
      .container
        .row
          .col-24.col-md-12
            .projects--bravecto__medio-digital__content
              h2.projects--bravecto__medio-digital__title Trascendiendo el medio digital.
              p.projects--bravecto__medio-digital__text Hasta el subte de la ciudad de Buenos Aires quedó libre de pulgas.

    //- section.projects--bravecto__facts
      .container
        .row
          .col-24
            h3.projects--bravecto__facts__title Números
          .col-24.col-md-12
            .projects--bravecto__facts__container
              h3.projects--bravecto__facts__container-title Membership growth:
              span.projects--bravecto__facts__container-number 5k
          .col-24.col-md-12
            .projects--bravecto__facts__container
              h3.projects--bravecto__facts__container-title Inspire affinity.
              p.projects--bravecto__facts__container-text Más info para sumar: Through us forn Nonprofit (P4NP) initiative, we demonstrate our commitment to helping our global and local communities thrive. Our mission is to build brands, transform businesses and move.

          .col-24.col-md-12
            .projects--bravecto__facts__container
              h3.projects--bravecto__facts__container-title Any movie.
              p.projects--bravecto__facts__container-text Más info para sumar: Through us forn Nonprofit (P4NP) initiative, we demonstrate our commitment to helping our global and local communities thrive. Our mission is to build brands, transform businesses and move.

          .col-24.col-md-12
            .projects--bravecto__facts__container
              h3.projects--bravecto__facts__container-title Mobile revenue growth:
              span.projects--bravecto__facts__container-number 45%



