header.header
    .header__button
        img.js-main-logo(src="/images/isologo.png")
        img.js-internal-logo(src="/images/logo-pink.png")
        .overlay
    .header__container
        //- .header__logo
        //-     img.js-internal-logo(src="/images/logo-pink.png")
        nav.header__nav
            ul.header__list
                li.header__item
                    a(href="/")
                        h2 Home.
                        p Hola.
                li.header__item
                    a(href="/about")
                        h2 About.
                        p Como hacemos.
                li.header__item
                    a(href="/work")
                        h2 Work.
                        p Las cosas que hacemos.
                li.header__item
                    a(href="/blog")
                        h2 Blog.
                        p Dice mucho.
                li.header__item
                    a(href="/contact")
                        h2 Contact.
                        p Ponte en contacto.
        ul.header__social
            li.header__network
                a(href="/")
                    i.fa.fa-facebook
            li.header__network
                a(href="/")
                    i.fa.fa-instagram
            li.header__network
                a(href="/")
                    i.fa.fa-youtube-play
            li.header__network
                a(href="/")
                    i.fa.fa-linkedin
        //- .header__hamburguer
        //-     span
        //-     span
        //-     span

