extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.about
        section.about__hero
            .container
                .row
                    .col-24
                        h2.about__hero__title 
                            |Desde 
                            br
                            |Buenos Aires.
        
        section.about__description
            .container
                .row
                    .col-24.col-md-20.offset-md-2
                        .row
                            .col-24
                                h2.about__description__title Creatividad Inteligente para un pensamiento digital efectivo.
                            .col-24.col-md-12
                                .about__description__group
                                    h3.about__description__chart-title Data-Driven Creativity
                                    p.about__description__chart-text Las organizaciones de hoy están basadas en datos, todos buscan ser más estratégicos al usar datos para informar las decisiones comerciales. Esta es un área que los creativos ya no pueden ignorar. Los nerds de datos necesitan creatividad para diseñar y crear experiencias de compromiso para generar acción.
                                    p.about__description__chart-text.about__description__chart-text--strong Nuestros creativos saben visualizar data.
                                .about__description__group
                                    h3.about__description__chart-title Together, the better.
                                    p.about__description__chart-text !PAF Collective es un grupo especializado dedicado a ejecutar campañas digitales omnicanal e integrales. Nuestro objetivo es diseñar experiencias que impacten en el usuario combinando habilidades especializadas para enfrentar desafíos complejos e impulsar resultados superiores integrados.

                            .col-24.col-md-12
                                //- h2.about__description__main-title 
                                //-     |Somos un Think Tank creativo para marcas y agencias.
                                //-     br
                                //-     |Nuestra misión es crear experiencias digitales eficientes y trascender los límites de las ideas.
                                //- p.about__description__text La eficiencia creativa de una campaña digital de hoy no es solo una idea o una comprensión clara de la estratégia, sino también pensar cada creatividad a los requisitos del medio para lograr los objetivos de las directrices.
                                //- h4.about__description__subtitle Lo viral no existe.
                                //- p.about__description__text Por esonuestros equipos interdiciplinarios especializados trabajan en estrecha colaboración con nuestros clientes, ayudándolos a resolver los problemas más grandes de sus usuarios y marcas. Nuestro enfoque "Diamante" (TM) centrado en el usuario, soportado por especialistas y basado en datos, busca crear una experiencia perfecta en todos los puntos de contacto digitales, físicos y de sociales. Esta experiencia omnicanal y unficada da como resutado una relación mucho mas consistente, impactante y valiosa para el usuario.
                                .about__description__image
                                    img(src="/images/about/chart.png") 

                            .col-24.col-md-6
                                h3.about__description__list-title Estrategia & Creatividad.
                                ul.about__description__list
                                    li.about__description__list-item Consultoría estratégica
                                    li.about__description__list-item Campañas creativas digitales
                                    li.about__description__list-item Media planning
                                    li.about__description__list-item Brand esperience
                                    li.about__description__list-item Digital Research
                                    li.about__description__list-item Diseño de experiencias
                            .col-24.col-md-6
                                h3.about__description__list-title Social Media & Content Creation.
                                ul.about__description__list
                                    li.about__description__list-item Estrategia de Content Marketing
                                    li.about__description__list-item Social Listening y Community Management
                                    li.about__description__list-item Community Management
                                    li.about__description__list-item Social & Digital PR
                                    li.about__description__list-item Influencer Marketing
                                    li.about__description__list-item Social & Digital PR
                            .col-24.col-md-6
                                h3.about__description__list-title UX/UI & Desarrollo.
                                ul.about__description__list
                                    li.about__description__list-item Desarrollo interactivo, Web y Mobile
                                    li.about__description__list-item Experiencia de usuario
                                    li.about__description__list-item Transformación digital
                                    li.about__description__list-item Visual Learning
                                    li.about__description__list-item Apps móviles
                                    li.about__description__list-item Responsive Website & Landing Pages
                            .col-24.col-md-6
                                h3.about__description__list-title Métricas, Big Data & Rendimiento.
                                ul.about__description__list
                                    li.about__description__list-item Diagnóstico y consultoría
                                    li.about__description__list-item Cruzamiento de datos
                                    li.about__description__list-item Generación de Clusters de audiencia
                                    li.about__description__list-item Dashboards y reportes
                                    li.about__description__list-item Digital PR e influencers
                                    li.about__description__list-item SEO / SEM

        section.about__interstitial
            .container
                .row
                    .col-24.col-md-20.offset-md-2
                        .row
                            .col-24.col-md-8
                                h3.about__interstitial__title Estrategia Creativa.
                                p.about__interstitial__text Desarrollamos estrategias inteligentes, con datos claros, entendiendo el medio digital, el usuario y su interés guiando a una creatividad eficiente que construya la relevancia de la marca mediante el storytelling
                            .col-24.col-md-8
                                h3.about__interstitial__title Producción y contenido
                                p.about__interstitial__text Pensamos y creando contenido a la velocidad del mundo digital, dinámico, efectivo y flexible. Buscamos innovar constantemente con un pensamiento alternativo y con partners especializados en cada uno de los desarrollos.
                            .col-24.col-md-8
                                h3.about__interstitial__title Interactivo.
                                p.about__interstitial__text Hacemos real la experiencia de usuario, empoderando la transformación digital de nuestro cliente. Medimos los visual learnings de los sitios y apps que desarrollamos, cin un pensamiento Mobile First de algo tan "simple" como responsive websites & landing pages.
        //- section.about__location
        //-     .container
        //-         .row
        //-             .col-24.col-md-20.offset-md-2
        //-                 .row
        //-                     .col-24.col-md-8
        //-                         h3.about__location__title Nuestras oficinas.
        //-                     .col-24.col-md-8
        //-                         h2.about__location__main-title Argentina.
        //-                         p.about__location__text Martinez, Buenos Aires
        //-                     .col-24.col-md-8
        //-                         h2.about__location__main-title Perú.
        //-                         p.about__location__text Miraflores, Lima
