extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.work
        a.work__proyect(href="/bravecto")
            img(src="/images/home/PAF_Home_1.jpg")
            .container
                .row
                    .col-24
                        h4.work__uppertitle Caso 1.
                        h3.work__title ¡Perrea Bobby!
                        p.work__company Bravecto

        a.work__proyect(href="/natura")
            img(src="/images/home/PAF_Home_2.jpg")
            .container
                .row
                    .col-24
                        h4.work__uppertitle Caso 2.
                        h3.work__title Belleza Natura.
                        p.work__company Natura Cosméticos

        a.work__proyect(href="/meridional")
            img(src="/images/home/PAF_Home_3.jpg")
            .container
                .row
                    .col-24
                        h4.work__uppertitle Caso 3.
                        h3.work__title Letra Grande.
                        p.work__company Meridional Seguros

        a.work__proyect(href="/alfaparf")
            img(src="/images/home/PAF_Home_4.jpg")
            .container
                .row
                    .col-24
                        h4.work__uppertitle Caso 4.
                        h3.work__title Mucho Estilo
                        p.work__company Alfaparf

        a.work__proyect(href="/kabala")
            img(src="/images/home/PAF_Home_5.jpg")
            .container
                .row
                    .col-24
                        h4.work__uppertitle Caso 5.
                        h3.work__title JUEGA TU KÁBALA
                        p.work__company Kabala

        span.work__indicator Scroll



