extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.work
        .work__proyect
            img(src="/images/work/project-main.jpg")
            .container
                .row
                    .col-24
                        h4.work__uppertitle Mucho Estilo.
                        h2.work__title Estilo Natural.
                        p.work__company Natura Cosméticos
                        p.work__proyect-name ¡Perrea Bobby!

        .work__proyect
            img(src="/images/work/project-main.jpg")
            .container
                .row
                    .col-24
                        h4.work__uppertitle Letra Grande.
                        h2.work__title Estilo Natural.
                        p.work__company Meridional Seguros
                        p.work__proyect-name Letra Grande

        .work__proyect
            img(src="/images/work/project-main.jpg")
            .container
                .row
                    .col-24
                        h4.work__uppertitle Letra.
                        h2.work__title Estilo Natural.
                        p.work__company Meridional Seguros
                        p.work__proyect-name Letra Grande
        .work__proyect
            img(src="/images/work/project-main.jpg")
            .container
                .row
                    .col-24
                        h4.work__uppertitle Grande.
                        h2.work__title Estilo Natural.
                        p.work__company Meridional Seguros
                        p.work__proyect-name Letra Grande
        span.work__indicator Scroll



