extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.work
        .work__proyect
            img(src="/images/home/PAF_Home_1.jpg")
            .container
                .row
                    .col-24
                        h4.work__uppertitle Caso 1.
                        a.work__title(href="/bravecto") ¡Perrea Bobby!
                        p.work__company Bravecto

        .work__proyect
            img(src="/images/home/PAF_Home_2.jpg")
            .container
                .row
                    .col-24
                        h4.work__uppertitle Caso 2.
                        a.work__title(href="/natura") Belleza Natura.
                        p.work__company Natura Cosméticos

        .work__proyect
            img(src="/images/home/PAF_Home_3.jpg")
            .container
                .row
                    .col-24
                        h4.work__uppertitle Caso 3.
                        a.work__title(href="/meridional") Letra Grande.
                        p.work__company Meridional Seguros
        .work__proyect
            img(src="/images/home/PAF_Home_4.jpg")
            .container
                .row
                    .col-24
                        h4.work__uppertitle Caso 4.
                        a.work__title(href="/alfaparf") Mucho Estilo
                        p.work__company Alfaparf
        .work__proyect
            img(src="/images/home/PAF_Home_5.jpg")
            .container
                .row
                    .col-24
                        h4.work__uppertitle Caso 5.
                        a.work__title(href="/kabala") JUEGA TU KÁBALA
                        p.work__company Kabala

        span.work__indicator Scroll



