extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
  main.projects.projects--alfaparf
    section.projects--alfaparf__hero
      a.projects__hero__back-button(href="/work") Volver
      .projects--alfaparf__hero__image
        img(src="/images/projects/alfaparf/iphone.png")
      a.projects--alfaparf__hero__scroll(href="#objetivos")
        p.projects--alfaparf__hero__scroll-text Descubrilo
      .container
        .row
          .col-12
            p.projects--alfaparf__hero__text FAIRFAX / alfaparf Seguros
          .col-12
            .projects--alfaparf__hero__logo
              img(src="/images/projects/alfaparf/logo.png")
        .row
          .col-24
            .projects--alfaparf__hero__container
              h2.projects--alfaparf__hero__container-title Mucho
              h2.projects--alfaparf__hero__container-title estilo
              p.projects--alfaparf__hero__container-text Planificanco, creando y<br>produciendo a la velocidad<br>del medio digital.

    section.projects.projects--alfaparf__objetivos#objetivos
      .container
        .row
          .col-24.col-md-12
            .projects.projects--alfaparf__objetivos__container
              h3.projects.projects--alfaparf__objetivos__title Objetivos
              p.projects.projects--alfaparf__objetivos__text <strong>Real time content.</strong> Conectar de una forma más real con el consumidor y el estilista, haciendo foco en la identidad de cada una de las marcas, para que puedan construir una integralidad en conjunto como Grupo.
          .col-24.col-md-4
            .projects.projects--alfaparf__objetivos__container
              h3.projects.projects--alfaparf__objetivos__title Equipo
              ul.projects.projects--alfaparf__objetivos__list
                li.projects.projects--alfaparf__objetivos__item !PAF
                li.projects.projects--alfaparf__objetivos__item Frubis
                li.projects.projects--alfaparf__objetivos__item Nice Watch
                li.projects.projects--alfaparf__objetivos__item Ratio Fx

          .col-24.col-md-4
            .projects.projects--alfaparf__objetivos__container
              h3.projects.projects--alfaparf__objetivos__title Entregables
              ul.projects.projects--alfaparf__objetivos__list
                li.projects.projects--alfaparf__objetivos__item Estrategia & Planificación
                li.projects.projects--alfaparf__objetivos__item Concepto
                li.projects.projects--alfaparf__objetivos__item Branding
                li.projects.projects--alfaparf__objetivos__item Contenido
                li.projects.projects--alfaparf__objetivos__item Desarrollo UI/UX

          .col-24.col-md-4
            .projects.projects--alfaparf__objetivos__container
              h3.projects.projects--alfaparf__objetivos__title Medios
              ul.projects.projects--alfaparf__objetivos__list
                li.projects.projects--alfaparf__objetivos__item Redes Sociales
                li.projects.projects--alfaparf__objetivos__item Mailings
                li.projects.projects--alfaparf__objetivos__item Performance
                li.projects.projects--alfaparf__objetivos__item Data-Driven Branding
                li.projects.projects--alfaparf__objetivos__item Off Line

    section.projects.projects--alfaparf__campana#campana
      .projects.projects--alfaparf__campana__container
        .projects.projects--alfaparf__campana__col
        .projects.projects--alfaparf__campana__col
          img(src="/images/projects/alfaparf/square.png")
      .container
        .row
          .col-24.col-md-12
            .projects.projects--alfaparf__campana__content
              h2.projects.projects--alfaparf__campana__title Un mensaje para cada interlocutor. Diferentes historias para cada momento del dia.
              p.projects.projects--alfaparf__campana__text Creando contenido real y conversaciones activas para construir comunidad.

    section.projects.projects--alfaparf__rrss
      .container
        .row
          .col-24
            h3.projects.projects--alfaparf__rrss__title Contenido, arte y producción para RRSS
          .col-24.col-md-8
            .projects.projects--alfaparf__rrss__image
              img(src="/images/projects/alfaparf/mosaic1.jpg")
          .col-24.col-md-8
            .projects.projects--alfaparf__rrss__image
              video(autoplay)
                source(src="/images/projects/alfaparf/mosaic2.mp4" type="video/mp4")
          .col-24.col-md-8
            .projects.projects--alfaparf__rrss__image
              img(src="/images/projects/alfaparf/mosaic3.jpg")
          .col-24.col-md-8
            .projects.projects--alfaparf__rrss__image
              img(src="/images/projects/alfaparf/mosaic4.jpg")
          .col-24.col-md-8
            .projects.projects--alfaparf__rrss__image
              img(src="/images/projects/alfaparf/mosaic5.jpg")
          .col-24.col-md-8
            .projects.projects--alfaparf__rrss__image
              img(src="/images/projects/alfaparf/mosaic6.jpg")
          .col-24.col-md-16
            .projects.projects--alfaparf__rrss__image.projects.projects--alfaparf__rrss__image--double
              img(src="/images/projects/alfaparf/mosaic7.jpg")
          .col-24.col-md-8
            .projects.projects--alfaparf__rrss__image
              video(autoplay)
                source(src="/images/projects/alfaparf/mosaic8.mp4" type="video/mp4")

