extends _layouts/base

block content
    main.home
        section.home__hero
            .container
                .row
                    .col-24
                        .home__hero__logo.wow.fadeInLeftBig
                            img(src="/images/logo.png")
                        .home__hero__wrapper
                            h3.home__hero__slogan
                                span.small the creative
                                span.big digital
                                span.medium think tank
                            p.home__hero__text
                                |We make businesses grow with
                                br
                                span Data-Driven creativity 
                                |& thinking
                                br
                                |effective <span> digital experiences </span> people love

        section.home__work
            .container
                .row
                    .col-24
                        h3.home__work__title 
                            |Work. 
                            span Las cosas que hacemos.
                    .col-24.col-md-12
                        .home__work__container
                            img(src="/images/home/PAF_home_1.jpg")
                            .home__work__wrapper
                                h3.home__work__wrapper-title
                                    |Un simpático
                                    br
                                    |perro bailando
                                    br
                                    |salsa.
                                p.home__work__wrapper-text BRAVECTO
                    .col-24.col-md-12
                        .home__work__container
                            img(src="/images/home/PAF_home_2.jpg")
                            .home__work__wrapper
                                h3.home__work__wrapper-title
                                    |Belleza
                                    br
                                    |Real
                                p.home__work__wrapper-text natura
                    .col-24
                        .home__work__container.home__work__container--big
                            img(src="/images/home/PAF_home_3.jpg")
                            .home__work__wrapper
                                h3.home__work__wrapper-title
                                    |Protege lo que
                                    br
                                    |más querés
                                p.home__work__wrapper-text Meridional seguros
                    .col-24.col-md-12
                        .home__work__container
                            img(src="/images/home/PAF_home_4.jpg")
                            .home__work__wrapper
                                h3.home__work__wrapper-title
                                    |Texto simulado
                                    br
                                    |de belleza.
                                p.home__work__wrapper-text alfaparf
                    .col-24.col-md-12
                        .home__work__container
                            img(src="/images/home/PAF_home_5.jpg")
                            .home__work__wrapper
                                h3.home__work__wrapper-title 
                                    |Si lo sientes,
                                    br
                                    |juégatela.
                                p.home__work__wrapper-text kábala

        section.home__blog
            .container
                .row
                    .col-24
                        h3.home__blog__title 
                            |Blog. 
                            span Dice mucho.
                    .col-24.col-md-16
                        .home__blog__container.home__blog__container--image-right
                            .home__blog__content
                                .home__blog__wrapper
                                    h3.home__blog__content-subtitle digital marketing
                                    h2.home__blog__content-title ¿Como encarar una campaña digital creativa y eficiente?
                                p.home__blog__content-text
                                    span Pol Fabbri
                                    |Founder & General Manager at !PAF Collective. The creative Think Tank
                            .home__blog__image
                                img(src="/images/home/blog-1.jpg")
                    .col-24.col-md-8
                        .home__blog__container.home__blog__container--image-up
                            .home__blog__image
                                img(src="/images/home/blog-2.jpg")
                            .home__blog__content
                                .home__blog__wrapper
                                    h3.home__blog__content-subtitle diseño
                                    h2.home__blog__content-title Diseño, tecnología e innovación.
                                p.home__blog__content-text
                                    span Margarita Alber Cobo | 
                                    |Grafic Designer


