extends _layouts/base

block content
    main.home
        section.home__hero
            .container
                .row
                    .col-24
                        .home__hero__container
                            .home__hero__logo
                                img(src="/images/logo.png")
                            .home__hero__wrapper
                                p.home__hero__text
                                    |We make businesses grow with
                                    br
                                    span Data-Driven creativity 
                                    |& thinking
                                    br
                                    |effective <span> digital experiences </span> people love
            a.home__hero__slogan-scroll(href="#work") Visit our think tank!

        section.home__work#work
            .container
                .row
                    .col-24
                        h3.home__work__title 
                            a(href="/work")
                                |Work. 
                                span Las cosas que hacemos.
                    .col-24.col-md-12
                        a(href="/work").home__work__container.wow.fadeInUpBig
                            img(src="/images/home/PAF_Home_1.jpg")
                            .home__work__wrapper
                                h3.home__work__wrapper-title
                                    |¡PERREA BOBY!
                                p.home__work__wrapper-text BRAVECTO
                    .col-24.col-md-12
                        a(href="/work").home__work__container.wow.fadeInUpBig
                            img(src="/images/home/PAF_Home_2.jpg")
                            .home__work__wrapper
                                h3.home__work__wrapper-title
                                    |BELLEZA NATURA
                                p.home__work__wrapper-text natura
                    .col-24
                        a(href="/work").home__work__container.home__work__container--big.wow.fadeInUpBig
                            img(src="/images/home/PAF_Home_3.jpg")
                            .home__work__wrapper
                                h3.home__work__wrapper-title
                                    |LETRA GRANDE
                                p.home__work__wrapper-text Meridional seguros
                    .col-24.col-md-12
                        a(href="/work").home__work__container.wow.fadeInUpBig
                            img(src="/images/home/PAF_Home_4.jpg")
                            .home__work__wrapper
                                h3.home__work__wrapper-title
                                    |MUCHO ESTILO
                                p.home__work__wrapper-text alfaparf
                    .col-24.col-md-12
                        a(href="/work").home__work__container.wow.fadeInUpBig
                            img(src="/images/home/PAF_Home_5.jpg")
                            .home__work__wrapper
                                h3.home__work__wrapper-title 
                                    |JUEGA TU KÁBALA
                                p.home__work__wrapper-text kábala

        section.home__blog
            .container
                .row
                    .col-24
                        h3.home__blog__title 
                            a(href="https://medium.com/pafcollective", target="_blank")
                                |Blog. 
                                span Dice mucho.
                    .col-24.col-md-16
                        a(href="https://medium.com/pafcollective/c%C3%B3mo-encarar-una-campa%C3%B1a-digital-creativa-y-eficiente-b6034523635c", target="_blank").home__blog__container.home__blog__container--image-right
                            .home__blog__content
                                .home__blog__wrapper
                                    h3.home__blog__content-subtitle digital marketing
                                    h2.home__blog__content-title ¿Como encarar una campaña digital creativa y eficiente?
                                p.home__blog__content-text
                                    span Pol Fabbri
                                    |Founder & General Manager at !PAF Collective. The creative Think Tank
                            .home__blog__image
                                img(src="/images/home/blog-1.jpg")
                    .col-24.col-md-8
                        a(href="https://medium.com/pafcollective/qu%C3%A9-es-data-driven-creativity-y-por-qu%C3%A9-es-el-futuro-de-la-publicidad-digital-1b49584fc009", target="_blank").home__blog__container.home__blog__container--image-up
                            .home__blog__image
                                img(src="https://miro.medium.com/max/1920/1*DQ5XBePFypfbDp_e72ZgaQ.jpeg")
                            .home__blog__content
                                .home__blog__wrapper
                                    h3.home__blog__content-subtitle digital marketing
                                    h2.home__blog__content-title Qué es Data-Driven creativity y porqué es el futuro de la publicidad digital
                                p.home__blog__content-text
                                    span Pol Fabbri | 
                                    |Founder & General Manager at !PAF Collective. The creative Think Tank


